* {
    box-sizing: border-box;
}

/*--Helper Classes--*/

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.aligncenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.float {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.float:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.float-item {
    float: left;
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid #000;
}


/*Primary CSS*/

html,
body {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    line-height: 35px;
}

.content {
    margin: 5%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    -webkit-animation: fadein .5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .5s;
    /* Firefox < 16 */
    -ms-animation: fadein .5s;
    /* Internet Explorer */
    -o-animation: fadein .5s;
    /* Opera < 12.1 */
    animation: fadein .5s;
}

img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.banner,
.bannerheader {
    position: relative;
}

.bannerimage {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}

.banner .bannerimage {
    height: 135px;
}

.banner p {
    font-size: 30px;
}

.banner .textblock {
    background: rgba(0, 0, 0, 0.8);
}

.bannerheader {
    margin-bottom:-75px;
}

.bannerheader .text-block {
    width: 100%;
    color: white;
    bottom: 30%;
    right: 0px;
}

.text-block {
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .text-block {
    height: 100%;
    bottom: .1px;
}

h2 {
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    clear: both;
    padding: 10px;
}

h3 {
    text-align: center;
    font-size: 2rem;
}

.container-fluid h3 {
    margin-top: 30px;
}

p {
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
    text-align: center;
    font-size:1.3rem;
}

nav img {
    max-height: 40px;
}

#loginlink {
    display: flex;
    float: right;
    padding: 5px;
    margin: 10px;
    background-color: #5c5c5c;
    border: 1px solid #fff;
}

#loginlink p {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: #fff;
}

#loginlink:hover {
    background-color: #000;
    transition: .2s;
}

table {
    min-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

table td {
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin: 0px;
    padding: 0px;
}

table td:nth-child(odd) {
    font-weight: bold;
}

table tr:hover {
    background-color: #ededed;
}

ul {
    list-style-type: square;
    margin-bottom: 50px;
}

ul.aligncenter li,
ol.aligncenter li {
    border-bottom: 1px solid #000;
    padding: 10px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#person {
    border: 2px solid #000;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#person img {
    margin: 0px;
    padding: 0px;
}

#person h4,
#contact {
    padding: 10px;
    height: 60px;
    margin: 0px;
    text-align: center;
    background-color: #4B4B4B;
    color: #fff;
}

#person ul {
    list-style-type: none;
    padding: 0px;
}

#person ul li {
    padding: 15px 5px 15px 5px;
}

#person ul li:nth-child(even) {
    background-color: #ededed;
}

#person span {
    background-color: #4B4B4B;
    padding-top: 30px;
}

#person span p {
    background-color: #fff;
}

#contact {
    height: auto;
}

@media only screen and (min-width:767px) {
    .content {
        max-width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        font-size: 35px;
    }

    table td {
        padding: 20px;
    }

    #businessgrid,
    #contactgrid {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-template-rows: 50% 50%;
        grid-column-gap: 3%;
        grid-row-gap: 1%;
    }

    #person {
        max-width: 100%;
    }

    #person h4 {
        height: 100px;
    }
}

@media only screen and (min-width:1080px) {
    h2 {
        font-size: 40px;
    }

    .content {
        max-width: 60vw;
    }

    .bannerheader .bannerimage {
        height: 400px;
    }

    .banner .bannerimage {
        height: 200px;
    }

    #businessgrid,
    #contactgrid {
        display: grid;
        grid-template-columns: 18% 18% 18% 18% 18%;
        grid-template-rows: 100%;
        grid-column-gap: 2%;
    }

    #dashboardgrid {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-column-gap: 3%;
        grid-row-gap: 1%;
    }
}

@media(min-width: 2000px) {
    .container-fluid {
        max-width: 75vw;
    }
}

/*--NAVBAR CSS--*/
/***************************************************************************************/
/*   
    Title: Pure CSS Responsive Navbar
    Author: Joseph, Jones
    Availability: https://codepen.io/jo_Geek/pen/xgbaEr
*/
/***************************************************************************************/
nav {
    height: 68px;
    width: 100%;
    background-color: #e8e8e8;
    position: relative;
    z-index: 99999999;
}

nav > .nav-header {
    display: inline;
}

nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #5c5c5c;
    padding: 10px 10px 10px 10px;
}

nav > .nav-btn {
    display: none;
    background-color: #b0b0b0;
}

nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    font-size: 20px;
    height: 68px;
    color: #5c5c5c;
    transition: .2s;
}


nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav > #nav-check {
    display: none;
}

@media (max-width:895px) {
    nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    nav > .nav-btn > label:hover,
    nav #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #ccccca;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 55px;
        left: 0px;
    }

    nav > .nav-links > a {
        display: block;
        width: 100%;
        font-size: 25px;
    }

    nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }

    nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}


/*--HEXAGONS CODE--*/
.container-fluid {
    margin-top: 5%;
    margin-bottom: 5%;
}

.fab,
.fas {
    font-size: 1.5em;
    color: green;
    margin: 0px;
    padding: 0px;
}

.hexagon .fas,
.hexagon .hex-wrapper {
    display: inline-block;
}

.hex-row {
    clear: left;
}

.shift {
    margin-left: 68px;
}

.row {
    margin-top: 50px;
}

#cca {
    background-size: 115%;
    background-repeat: no-repeat;
    background-color: #fff;
}

.hexagon {
    float: left;
    position: relative;
    width: 130px;
    height: 75px;
    background-color: #ddd;
    background-position: center center;
    z-index: 1;
    /* Text styling */
    line-height: 110px;
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 6px;
    color: #000;
    color: rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: color 500ms ease, text-shadow 500ms ease, background-color 500ms ease, -webkit-transform 1s ease-in-out;
}

.hexagon:hover {
    color: #fff;
    text-shadow: 0 0 10px white;
    background-color: #888;
}

.hexagon .face1,
.hexagon .face2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: inherit;
    z-index: -1;
    /* Keeps borders smooth in webkit */
    backface-visibility: hidden;
}

.hexagon .face1:before,
.hexagon .face2:before {
    content: '';
    position: absolute;
    width: 220px;
    height: 220px;
    background: inherit;
}

.hexagon .face1 {
    transform: rotate(60deg);
}

.hexagon .face1:before {
    left: 0;
    transform-origin: left top;
    transform: rotate(-60deg) translate(-110px, 0);
}

.hexagon .face2 {
    transform: rotate(-60deg);
}

.hexagon .face2:before {
    right: 0;
    transform-origin: right top;
    transform: rotate(60deg) translate(110px, 0);
}

.text-info {
    display: none;
}

@media only screen and (max-width:1200px) {
    .text-info {
        margin-top: 5%;
    }
}

.text-info p {
    color: #000 !important;
}

.text-info h2,
.text-info li {
    color: green !important;
}

@media(min-width: 767px) {
    .hexagon {
        margin: 30px 3px;
        width: 190px;
        height: 110px;
    }

    .shift {
        margin-left: 98px;
    }
}

@media(min-width: 1200px) {
    .hexagon {
        margin: 30px 3px;
        width: 190px;
        height: 110px;
    }

    .shift {
        margin-left: 98px;
    }
}